.testPage {
    background-color: #478E64;
}

.nav-test {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.card-test {
    height: 80vh;
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    padding: 4%;
}

.quiz-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5vh;
}

.quiz-stats {
    display: flex;
    gap: 6vh ;
}

.question {
    text-align: start;
    color: #111;
}

.id {
    display: inline;
}

.questions {
    display: flex;
    gap: 4px;
}

.question-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.quis-img {
    width: 750px;
    height: 220px;
    border-radius: 30px;
    object-fit: cover;
}

.loa-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.answers-div {
    display:flex ;
    gap: 10px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.anw-but {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

