.POl {
    text-align: center;
    margin-bottom: 45px;
}

.card {
    margin-bottom: 50px;
}

.fouth {
    display: flex;
}

.loa {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fSection {
    margin-top: 100px;
}

.error {
    font-size: 35px;
    color: #ce0303;
    font-weight: 800;
}

.error_div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 391px){
    .container {
        max-width: 359px;
    }

    .fSection {
        margin-top: 30px;
    }

    .card {
        margin-bottom: 37px;
    }

    .POl {
        margin-bottom: 20px;
    }

    .error_div {
        height: 50vh;
    }

    .error {
        font-size: 17px;
    }

}