@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-family: 'Inter';
}

*::selection {
  background-color: transparent;
}

h1 , p {
  transition: 1s ease-in-out;
}

h1::selection , p::selection , a::selection , img::selection, h3::selection, h4::selection, h2::selection,span::selection{
  color: #7DA658;
  background-color: transparent;
}

.container {
  width: 1320px;
  width: 84.45vw;
  margin: 0 auto;
}

@media screen and (max-width: 391px){
  .container {
    max-width: 359px;
    margin: 0 auto;
  }
}
