.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex p {
    width: 740px;
    font-size: 22px;
    font-weight: 500;
}

.img {
    width: 400px;
    height: 230px;
}

.img img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 391px){
    .flex p {
        font-size: 10px;
        width: 162px;
        font-weight: 500;
    }

    .img {
        width: 188px;
        height: 190px;
    }
}
